.carousel-container {
    width: 100%;
    overflow: hidden;
    position: relative;
  }
  
  .carousel-track {
    display: flex;
    animation: slide 10s linear infinite;
    white-space: nowrap; /* Adjust animation duration and timing function */
    
  }

  
  /* Additional styling for images or icons */
  .carousel-track img {
    width: 100px; /* Adjust image/icon size as needed */
    height: auto;
    padding:1em;
    transition: opacity 0.3s ease, transform 0.3s ease;
    
  }
  @media (max-width: 768px) {
    .carousel-track {
      flex-wrap: wrap; /* Allow items to wrap on smaller screens */
      /* Adjust spacing between items */
    }
  }